* {
  margin: 0;
  padding: 0;
  border: 0;
}
header {
  padding: 30px 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  background-color: #fff;
  box-shadow: 0px 6px 7px -3px #8e8e91;
}
header a {
  font-size: 18px;
  padding: 5px 10px;
  cursor: pointer;
  text-decoration: none;
  color: black;
}
header a:hover {
  color: #080899;
}
.log-out {
  position: absolute;
  top: 25px;
  left: 50px;
}
main {
  padding: 20px;
}
h1 {
  padding-top: 120px;
  font-size: 40px;
  text-align: center;
}
.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.single-container {
  width: 300px;
  margin: 5vh auto;
  font-size: 20px;
}

.single-container .email b,
.single-container .created b {
  display: block;
}

.id,
.first,
.last,
.company,
.country,
.email {
  margin-bottom: 10px;
}
.customer-image {
  width: 250px;
  height: 250px;
  margin: 0 auto;
  margin-bottom: 30px;
  border-radius: 50%;
  overflow: hidden;
}
.customer-link {
  width: 15%;
  padding: 20px;
  box-sizing: border-box;
  margin-bottom: 20px;
}
.prod-box {
  width: 15%;
  padding: 20px;
  box-sizing: border-box;
  margin-bottom: 20px;
}
.customer-box {
  width: 15%;
  padding: 20px;
  box-sizing: border-box;
  margin-bottom: 20px;
  pointer-events: auto;
}
.customer-box:hover {
  cursor: pointer;
  color: rgb(92, 91, 91);
}
.prod-title {
  text-align: center;
  margin-bottom: 10px;
}
.prod-description {
  margin-bottom: 10px;
}
.prod-img-box {
  width: 100%;
  height: 250px;
  background-size: cover;
  margin-bottom: 10px;
}
img {
  width: 100%;
  height: 100%;
}
.customer-first,
.customer-last,
.customer-email {
  pointer-events: none;
}

/* ---- Login ---- */
.login-container {
  position: relative;
  margin: 100px auto 0 auto;
  width: 400px;
  height: auto;
  background-color: #dedede;
  border-radius: 5px;
}
.label {
  padding: 20px 130px;
  font-size: 35px;
  font-weight: bold;
  color: #130f40;
}
.login_form {
  padding: 20px 40px;
}
label.login_input {
  display: block;
  margin-bottom: 5px;
  font-size: 18px;
  color: #130f40;
}
.login_form input {
  height: 40px;
  width: 100%;
  padding: 0 5px;
  font-size: 18px;
  outline: none;
  border: 1px solid silver;
}
.login_form button {
  margin: 10px 0;
  height: 45px;
  width: 100%;
  font-size: 20px;
  color: white;
  outline: none;
  cursor: pointer;
  font-weight: bold;
  background-color: #1a237e;
  border-radius: 3px;
  border: 1px solid #4d5ecc;
  transition: 0.5s;
}
.login_form button:hover {
  background-color: #3c47c2;
}
#error {
  margin-top: 5px;
  width: 100%;
  font-size: 18px;
  color: #c62828;
  background-color: rgba(255, 0, 0, 0.1);
  text-align: center;
  padding: 5px 8px;
  border-radius: 3px;
  border: 1px solid #ef9a9a;
  display: none;
}
.container-btn {
  width: 150px;
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.btn-num {
  display: inline-block;
  width: 20px;
  height: 20px;
  padding: 10px;
  background-color: #1a237e;
  color: #fff;
  text-align: center;
  cursor: pointer;
  margin: 5px;
  transition: 0.5s;
}
.btn-num:hover {
  background-color: #3c47c2;
}

/* --- Modal --- */

.modal-container {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(0, 0, 0);
  z-index: 1;
}
.modal-title {
  padding-top: 100px;
  color: #ffffff;
  text-align: center;
}
